.grid th > a {
    color: #484848 !important;
}
.grid .table{
    border: 1px solid #f2f2f2;
    background-color: white;
}
.grid tr > td {
    /*text-transform: uppercase;*/
    font-size: 10pt;
    vertical-align: middle !important;
    text-align: center;
    background-color: white;
    /*text-align: left;*/
}
.grid tr > th {
    color: #484848;
    height: 20px;
    font-size: 11pt;
    /*vertical-align: middle !important;*/
    /*text-transform: uppercase;*/
    text-align: center;
    font-weight: bold;
    /*padding: 4px;*/
}
.grid td > a {
    color: #556080 !important;
}

.grid td > a.btn-default {
    color: #f4f4f4 !important;
    background-color: #556080;
}

.table > thead > tr > td.info, .table > tbody > tr > td.info, .table > tfoot > tr > td.info, .table > thead > tr > th.info, .table > tbody > tr > th.info, .table > tfoot > tr > th.info, .table > thead > tr.info > td, .table > tbody > tr.info > td, .table > tfoot > tr.info > td, .table > thead > tr.info > th, .table > tbody > tr.info > th, .table > tfoot > tr.info > th {
    background-color: #f4f4f4 !important;
}

.kv-expand-icon-cell:hover, .kv-expand-icon-cell:focus {
    background-color: #f4f4f4 !important;
}

 /* Pagination */

 .pagination > .active > a {
    background-color: #101010;
    color: #fff !important;
    border: 1px solid #101010;
}

.pagination > .active > a:hover {
    background-color: #8d8d8d !important;
    border: 1px solid #8d8d8d;
}

