html,
body {
    height: 100%;
    font-size: 13px !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }

    .content{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media(min-width:767px) {
    .content{
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-nav > .user-menu .user-image {
    width: 30px !important;
    height: 30px !important;
}

/* Custom */
.content {
    min-height: 250px !important;
    margin-right: auto;
    margin-left: auto;
}
.content-wrapper{
    background-color: #fff !important;
    padding-bottom: 150px;
}

/* Nav - Menu */
.skin-red .main-header .logo {
    background-color: #ec1b30 !important;
    border-bottom: 0 solid transparent !important;
}
.skin-red .main-header .navbar {
    background-color: #ec1b30 !important;
}
.skin-red .main-header .navbar .sidebar-toggle:hover {
    background-color: #d5182b !important;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border-color: #ec1b30 !important;
}
.navbar-nav > .user-menu > .dropdown-menu {
    border-bottom-left-radius: 2px;
    border-top: 1px solid #e8e9eb;
    box-shadow: 0 4px 16px rgba(20,23,28,.25);
    color: #505763;
    /*font-size: 13px;*/
    margin: 0;
    width: 200px !important;
}
.user-menu .user-body > ul {
    padding-left: inherit;
}

/* Herramientas */
.m-b-5{
    margin-bottom: 5px;
}
.m-t-5{
    margin-top: 5px;
}
.p-t-15{
    padding-top: 15px;
}

/* Botones */

/*.btn-black{
    background: #000; 
    color: white; 
    font-weight:600;
}*/

.btn-red {
    background-color: #ec1b30;
    border-color: #d5182b;
    color:#fff; 
}

.btn-red:hover, .btn-red:focus, .btn-red.focus {
    background-color: #d5182b !important;
    color:#fff; 
    text-decoration: none;
}

/* Input */
.form-control{
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid;
}

.input-group-addon{
    background-color: #FFF;
    border-radius: 0px;
    color: #101010;
    border: #FFF solid 1px;
    border-bottom: #101010 solid 1px;
}

/* Input fin */

/* Select 2*/
.select2-container {
    font-weight: normal !important;
    border-radius: 0px !important;
}

.select2-container--krajee .select2-selection {
    /* border-radius: 0px !important;*/
    font-weight: normal !important;
    border-radius: 0px !important;
 }
 .select2-container--krajee .select2-results__option[aria-selected], .select2-results__option{
   /*background-color: #f2f2f2 !important;
   color: #b00000 !important;*/
   line-height: 25px !important;
 }
 .select2-container--krajee .select2-results__option--highlighted[aria-selected]{
     background-color:  #222d32 !important;
     color: #fff !important;
 }
 .select2-container--krajee .select2-selection--single .select2-selection__placeholder{
   font-style: italic !important;
 }
 .select2-container--krajee .select2-selection--single .select2-selection__arrow{
   border-left: 0px !important;
 }
/*.select2-container--krajee{
  z-index: -1!important;
 }*/

 .select2-container--krajee.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #d2d6de !important;
    border-width: 0 4px 5px 4px !important;
}

.select2-container--krajee .select2-selection--single .select2-selection__arrow b {
    border-color: #d2d6de transparent transparent transparent !important;
}

.select2-container--krajee .select2-selection {
    border: #FFF solid 1px !important;
    border-bottom: #d2d6de 1px solid !important;
}
.select2-dropdown {
    border-radius: 0px !important;
}

.select2-container--krajee .select2-dropdown {
    box-shadow: 0 6px 12px rgb(95, 129, 145) !important;
    border-color:rgb(210, 214, 222) !important;
}
.select2-container--krajee .select2-results__option[aria-selected="true"] {
    color: #000 !important;
    background-color: #c8c8c8 !important;
}
.select2-container--krajee .select2-search--dropdown .select2-search__field {
    border: 1px solid #fff !important;
    border-bottom: 1px solid #d2d6de !important;
    border-radius: 0px !important;
    color: #101010 !important;
}
.select2-container--krajee.select2-container--open .select2-selection, .select2-container--krajee .select2-selection:focus {

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px rgb(210, 214, 222) !important;
    box-shadow: inset 0 1px 1px rgba(116, 17, 17, 0.1), 0 0 6px rgb(210, 214, 222) !important;
    
    border-color: #d2d6de !important;
    border-bottom-color: rgb(210, 214, 222) !important;
}
.s2-togall-button{
    color: #222d32 !important;
}
.s2-togall-button:focus, .s2-togall-button:hover {
    color: #222d32 !important;
}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice{
    background-color: #222d32 !important;
    color: #fff !important;
}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
    text-shadow: none !important;
}
 /* Select 2 FIN*/


/* Login */
.login-box-msg{
    font-size: 18px;
}

#loginform-username.form-control, #loginform-password.form-control {
    border: 0px;
    border-bottom: 1px solid #ccc;
}

.login-box-body{
    padding: 30px !important;
    padding-top: 80px !important;
    height: 100%;
}


body.login-page {
    background-color: #E8E4E4;
    height: 100vh;
    /*overflow: hidden;*/
}

.login-contenedor {
    height: 100vh;
    margin: 0 !important;
    padding: 50px 0;
}

.login-contenedor .img-contenedor,
.login-contenedor .img-contenedor img, 
.login-contenedor .form-contenedor {
    height: 100%;
    max-height: 100%;
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
    background-color: #FFF !important;
}

@media screen and (max-width: 1024px){ 

  .login-contenedor {padding: 0;}  
    
  .login-contenedor .img-contenedor {display: none;}

  .login-contenedor .form-contenedor::before {
      content: "";
      background: none;
      /*background: url("luxmeter.cl/images/banner-second.jpg");
      opacity: 0.4;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1; 
      background-size: cover;  */
    }
}

/*Menú right */

.menu-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*font-size: 15px;
    font-weight: 400;*/
    padding: 10px 22px;
    width: 100%;
    position: relative;
}

.menu-link:hover{
    text-decoration: none;
    background-color: #f2f3f5;
}

